<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
html, body{
	font-family: 'Lato';
	font-weight: normal;
}

.bg-nav{
	background: #3a454b;
}
.contaner{
	width: 1170px;
	margin: 0 auto;
}
.d-flex{
	display: flex;
	flex-wrap: wrap;
} 
.navbar{
	justify-content: space-between;
	align-items: center;
	padding: 55px 0px;
}
.site-title{
	color: white;
	font-size: 24px;
}
.text-blue{
	color:#4bcaff;
}
.nav{
	list-style-type: none;
	padding-left: 0px;
	margin: 0;
}
.nav-item{
	
}
.nav-link{
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: 10px 20px;
	border: solid 3px #3a454b;
} 
.active, .nav-link:hover{
	border: solid 3px #4bcaff;
	color: #4bcaff;

}
.bg-image-overlay:before{
	filter: grayscale(50%) sepia(60%) brightness(80%) hue-rotate(180deg);
	background: url('https://i.ibb.co/DY3DptD/photo.jpg');
	position: absolute;
	z-inde: -1;
	height: 100%;
	width: 100%;
	content: "";
	top: 0;
	left: 0;
	object-fit: over;

}
.bg-image-overlay{
	position: relative;
	height: 1050px;
}
.container{

}
.box-gray{
	color: white;
}
.title-1{

}
.title-2{

}