.nav-container{
		display: flex;
		justify-self: center;
		justify-items: center;
		background: #03122f;
	}
	.heading{
		display: flex;
		padding: 20px;
		font-weight: bold;
	}
	.dreamScape{
		color: #ae7dac;
	}
	.design{
		color: #f3dadf;
	}
	.nav-ul{
		display: flex;
		list-style-type: none;
	}
	.link{
		text-decoration: none;
		padding: 5px;
		color: #f3dadf;
		font-weight: bold
	}
	.nav-item{
		margin: 15px;
	}
	.login{
		padding: 5px;
		text-decoration: none;
		color: #f3dadf;
		font-weight: bold
	}
	.register{
		padding: 5px;
		text-decoration: none;
		color: #f3dadf;
		font-weight: bold
	}