*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}
body{
    margin: 0;
    font-family: Arial, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #03122f;
    height: 80px;
    position: sticky;
}
.heading{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 70px;
}

.dreamScape{
    color: #f3dadf;
    margin-right: 10px;
}

.design{
    color: #f1916d;
}
.nav-links{
    list-style-type: none;
    display: flex;
    margin-right: 40px;
    padding: 0;
}

.nav-item{
    margin: 5px;
}

.link{
    text-decoration: none;
    color: #f3dadf;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 15px;
}

.link:hover{
    color: #19305c;
    background-color: #f1916d;
    box-shadow: 0 0 0 2px #f3dadf;
}
@media(max-width: 768px){
    header{
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .nav-links{
        margin-top: 10px;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .nav-item{
        margin: 5px 0;
    }
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(80vh - 80px); 
    background-image: url('images/living_room.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
}
main .section-heading2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}
.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    align-items: center;
}
.about-text{
    flex: 1 1 50%;
    text-align: center;
    
    padding: 20px;
}
.button-about-more{

}
.about-text h2{
    font-size: 2.5rem;
    color: #03122f;
    margi-bottom: 20px;
}
.about-text p{
    font-size: 1.2rem;
    line-height: 1.5;
    color: #03122f;
    text-align: justify;
    text-justify: inter-word;
}