*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}
header{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 10%;
	background: #03122f;
}
.heading{
	font-size: 900;
	font-weight: bold;
}
.dreamScape{
	color: white;
}
.design{
	color: #f1916d;
}
.nav-links{
	display: flex;
	list-style-type: none;
	
}
.nav-item{
	display: flex;
	margin: 15px

}
.link{
	text-decoration: none;
	color: #f3dadf;
	padding: 10px;
	font-size: 600;
	font-weight: bold;
}
.link:hover{
	background: #f1916d;
	color: #19305c;
}