@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
}
h1{
    font-family: 'Playfair Display';
}
h2, h3{
    font-family: 'Merriweather';
}
p{
    font-family: 'Lora';
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #0b0c10;
    height: 80px;
}
.heading{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 70px;
}

.dreamScape{
    color: #f3dadf;
    margin-right: 10px;
}

.design{
    color: #e76f51;
}
.nav-links{
    list-style-type: none;
    display: flex;
    margin-right: 40px;
    padding: 0;
}

.nav-item{
    margin: 5px;
}

.link{
    text-decoration: none;
    color: #f6f6f4;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 15px;
}

.link:hover{
    color: #0b0c10;
    background-color: #f4a261;
    box-shadow: 0 0 0 2px #e9c46a;
}
@media(max-width: 768px){
    header{
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .nav-links{
        margin-top: 10px;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .nav-item{
        margin: 5px 0;
    }
}


main{
    
    background-color: #f6f6f4;
}
.all-items{
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.container{
    padding: 20px;
    background-color: #f4a261;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.container p{
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #0b0c10;
    text-align: justify;
}
h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color: #0b0c10;
    text-align: center;
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.team-member{
    background-color: #dedede;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.5s ease; 
}
.team-member:hover{
    transform: scale(1.05);
    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.3);
}
.team-member img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
}
.team-member h3{
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #03122f;
}
.team-member p{
    font-size: 1rem;
    color: #8e8e8e;
    text-align: center;
}
@media (max-width: 768px){
    .team-grid {
        flex-direction: column;
        align-items: center;
    }

    .team-member{
        width: 100%;
        max-width: 400px;
    }
}


.footer{
    background-color: #1b1b1b;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align
}
.footer-logo h2{
    font-size: 1.8rem;
    color: #fff;
}
.footer-nav ul{
    list-style: none;
    padding: 0;
}

.footer-nav ul li{
    margin: 5px 0;
}
.footer-nav ul li a{
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-nav ul li a:hover {
    color: #fff;
}

.footer-contact p {
    margin: 5px 0;
    font-size: 0.9em;
}

.footer-social a img {
    width: 30px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.footer-social a:hover img {
    transform: scale(1.1);
}


.footer-legal {
    font-size: 0.8rem;
    color: #bbb;
}

.footer-legal a {
    color: #bbb;
    text-decoration: none;
}

.footer-legal a:hover {
    color: #fff;
}